<div class="black">

  <div class="side-form">
    <div class="logo"></div>

    <form class="form-group container" (ngSubmit)="this.send()">
      <label>Nome completo</label>
      <input class="col-12" class="form-control" placeholder="Ex. daniel@construo.com" [(ngModel)]="this.nome"
        name="nome" type="text" />

      <label>E-mail de contato</label>
      <input class="col-12" class="form-control" placeholder="*****" [(ngModel)]="this.email" name="email"
        type="password" />

      <label>Tipo de usuário</label>
      <mat-radio-group class="row box-user-type" [(ngModel)]="this.tipo">
        <mat-radio-button value="EMPRESA">
          Sou uma empresa
        </mat-radio-button>
        <mat-radio-button value="COLABORADOR">
          Sou um colaborador
        </mat-radio-button>
      </mat-radio-group>

      <div class="footer">
        <button class="btn-send c-dark-green" (click)="this.send()" mat-raised-button color="primary">
          Enviar informações
        </button>
      </div>
    </form>
  </div>
</div>
