//================
//  CONTENT
//================
.content {
	height: auto;
	width: 100%;
	padding: 2% 2% 2% 2%;
}
//================
//  TABLE
//================
table {
	width: 100%;
}

.mat-form-field {
	font-size: 14px;
	width: 100%;
}

.div-button {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

td,
th {
	width: 20%;
}
