<div class="back">
	<section class="box-return">
		<mat-icon routerLink="/login" title="Voltar para o login">arrow_back</mat-icon>
	</section>


	<section class="box-logo">
		<img class="logo" src="../../../assets/logo-white.png" />
	</section>

	<mat-horizontal-stepper linear #stepper>

		<mat-step class="box-content" [stepControl]="typeForm" editable>
			<ng-template matStepLabel>Diga-nos quem é você</ng-template>

			<form [formGroup]="typeForm" class="form-group container">

				<label>Qual o seu tipo de usuário?</label>
				<mat-error *ngIf="typeControls.type.invalid">O tipo deve ser preenchido</mat-error>


				<mat-radio-group (change)="radioChange($event)" class="row combo-user-type" formControlName="type">
					<mat-radio-button value="EMPRESA">
						Sou uma empresa
					</mat-radio-button>
					<mat-radio-button value="COLABORADOR">
						Sou um colaborador
					</mat-radio-button>
				</mat-radio-group>

			</form>

			<div class="box-btn-stepper">
				<button color="primary" class="btn-stepper" mat-raised-button matStepperNext>Próximo</button>
			</div>
		</mat-step>

		<mat-step [stepControl]="pessoalForm" editable visibl>
			<ng-template matStepLabel>Informações pessoais</ng-template>

			<form [formGroup]="pessoalForm" class="form-group container">

				<mat-form-field class="row col-12" appearance="standard">
					<input matInput class="col-12" formControlName="razaoSocial" placeholder="Qual o nome da empresa?"
						name="razaoSocial" type="text" />
					<mat-error *ngIf="pessoalControls.razaoSocial.invalid">O nome da empresa deve ser preenchido
					</mat-error>
				</mat-form-field>


				<div class="row date-pikers">

					<mat-form-field class="col-8" appearance="standard">
						<input matInput class="col-12" formControlName="nomeFantasia"
							placeholder="Qual o nome fantasia da empresa?" name="nomeFantasia" type="text" />
						<mat-error *ngIf="pessoalControls.nomeFantasia.invalid">O nome fantasia deve ser preenchido
						</mat-error>
					</mat-form-field>

					<mat-form-field class="col-4" appearance="standard">
						<input matInput class="col-12" formControlName="numeroFuncionarios"
							placeholder="Qual o número de funcionarios?" name="numeroFuncionarios" type="number" />
						<mat-error *ngIf="pessoalControls.numeroFuncionarios.invalid">O nome de funcionarios deve ser
							preenchido
						</mat-error>
					</mat-form-field>

				</div>

				<div class="row date-pikers">

					<mat-form-field class="col-6" appearance="standard">
						<input matInput class="col-12" formControlName="cnpj" placeholder="Qual o cnpj da empresa?"
							name="cnpj" type="text" mask="000.000.000-00||00.000.000/0000-00" />
						<mat-error *ngIf="pessoalControls.cnpj.invalid">O cnpj deve ser preenchido</mat-error>
					</mat-form-field>

					<mat-form-field class="col-6" appearance="standard">
						<mat-label>Quando a empresa foi fundada?</mat-label>
						<input formControlName="dataFundacao" matInput [matDatepicker]="picker1">
						<mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
						<mat-datepicker #picker1></mat-datepicker>
						<mat-error *ngIf="pessoalControls.dataFundacao.invalid">
							A data de fundação deve ser
							preenchida
						</mat-error>

					</mat-form-field>

				</div>

			</form>

			<div class="box-btn-stepper">
				<button color="primary" class="btn-stepper" mat-raised-button matStepperPrevious>Voltar</button>

				<button color="primary" class="btn-stepper" mat-raised-button matStepperNext>Próximo</button>
			</div>
		</mat-step>

		<mat-step [stepControl]="enderecoForm" editable>
			<ng-template matStepLabel>Endereço</ng-template>

			<form [formGroup]="enderecoForm" class="form-group container">

				<div class="row date-pikers">
					<mat-form-field class="row col-9" appearance="standard">
						<input matInput class="col-12" formControlName="cep" placeholder="Qual o cep da empresa?"
							name="nome" type="text" mask="00000-000" />
						<mat-error *ngIf="enderecoControls.cep.invalid">O cep deve ser preenchido</mat-error>
					</mat-form-field>

					<mat-icon (click)="searchCEP(enderecoControls.cep.value)" aria-label="Side nav toggle icon">search
					</mat-icon>

					<mat-form-field class="row col-3" appearance="standard">
						<input matInput class="col-12" formControlName="numero" placeholder="Qual o número?" name="nome"
							type="text" />
						<mat-error *ngIf="enderecoControls.numero.invalid">O número deve ser preenchido</mat-error>
					</mat-form-field>
				</div>

				<div class="row date-pikers">
					<mat-form-field class="row col-6" appearance="standard">
						<input matInput class="col-12" formControlName="rua" placeholder="Qual a rua?" name="nome"
							type="text" />
						<mat-error *ngIf="enderecoControls.rua.invalid">A rua deve ser preenchida</mat-error>
					</mat-form-field>
					<mat-form-field class="row col-6" appearance="standard">
						<input matInput class="col-12" formControlName="bairro" placeholder="Qual o bairro?" name="nome"
							type="text" />
						<mat-error *ngIf="enderecoControls.bairro.invalid">O bairro deve ser preenchido</mat-error>
					</mat-form-field>
				</div>

				<div class="row date-pikers">
					<mat-form-field class="row col-6" appearance="standard">
						<input matInput class="col-12" formControlName="cidade" placeholder="Qual a cidade?" name="nome"
							type="text" />
						<mat-error *ngIf="enderecoControls.cidade.invalid">A cidade deve ser preenchida</mat-error>
					</mat-form-field>
					<mat-form-field class="row col-6" appearance="standard">
						<input matInput class="col-12" formControlName="estado" placeholder="Qual o estado?" name="nome"
							type="text" />
						<mat-error *ngIf="enderecoControls.estado.invalid">O estado deve ser preenchido</mat-error>
					</mat-form-field>
				</div>

			</form>


			<div class="box-btn-stepper">
				<button color="primary" class="btn-stepper" mat-raised-button matStepperPrevious>Voltar</button>

				<button color="primary" class="btn-stepper" mat-raised-button matStepperNext>Próximo</button>
			</div>
		</mat-step>

		<mat-step [stepControl]="contactForm" [editable]="isEditable">
			<ng-template matStepLabel>Informações de contato</ng-template>

			<form [formGroup]="contactForm" class="form-group container">

				<mat-form-field class="row col-12" appearance="standard">
					<input matInput class="col-12" formControlName="emailUsuario" placeholder="E o seu email?"
						name="emailUsuario" type="text" />

					<mat-error
						*ngIf="contactControls.emailUsuario.invalid && contactControls.emailUsuario.errors?.required ">
						A email deve ser preenchido
					</mat-error>
					<mat-error
						*ngIf="contactControls.emailUsuario.invalid && contactControls.emailUsuario.errors?.pattern ">
						A email deve estar no formato correto
					</mat-error>
				</mat-form-field>
				<br>

				<mat-form-field class="row col-12" appearance="standard">
					<input matInput class="col-12" formControlName="tefoneUsuario" placeholder="Qual o seu telefone?"
						name="telefone" type="text" />
				</mat-form-field>
				<br>

				<mat-form-field class="row col-12" appearance="standard">
					<input class="col-12" matInput placeholder="Qual será sua senha?" formControlName="senhaUsuario"
						name="senhaUsuario" type="password" />

					<mat-error
						*ngIf="contactControls.senhaUsuario.invalid && contactControls.senhaUsuario.errors?.required">
						A senha deve ser preenchida
					</mat-error>
					<mat-error
						*ngIf="contactControls.senhaUsuario.invalid && contactControls.senhaUsuario.errors?.minlength">
						A senha deve ter no mínimo 6 caracteres
					</mat-error>
					<mat-error
						*ngIf="contactControls.senhaUsuario.invalid && contactControls.senhaUsuario.errors?.invalidpassword">
						A senha não deve conter espaços em branco
					</mat-error>
				</mat-form-field>

				<div class="box-btn-stepper">
					<button color="primary" class="btn-stepper" mat-raised-button matStepperPrevious>Voltar</button>
					<button [disabled]="contactControls.senhaUsuario.errors" color="primary"
						class="btn-stepper-no-color" (click)="send()" mat-raised-button
						matStepperNext>Finalizar</button>
				</div>
			</form>
		</mat-step>
	</mat-horizontal-stepper>
</div>
