<section>
	<div class="header {{this.actionClass}}">
		<span> {{this.isUpdate ?'Editar colaborador' : 'Cadastrar colaborador'}}</span>
	</div>
	<mat-dialog-content class="content">
		<form (ngSubmit)="this.send()">
			<label>Nome completo</label>
			<input class="col-12" class="form-control" placeholder="Nome" [(ngModel)]="this.nome" name="nome"
				type="text" />

			<label>E-mail de contato</label>
			<input class="col-12" class="form-control" placeholder="Ex. email@gmail.com" [(ngModel)]="this.email"
				name="email" />

			<label>Senha</label>
			<input class="col-12" class="form-control" type="password" placeholder="*****" [(ngModel)]="this.senha"
				name="senha" type="password" />
		</form>
	</mat-dialog-content>
	<mat-dialog-actions>
		<button mat-button mat-dialog-close>Cancelar</button>
		<button (click)="this.send()" mat-raised-button class="{{this.actionClass}}" color="primary"
			cdkFocusInitial>Salvar</button>
	</mat-dialog-actions>
</section>
