<div class="content">
	<div class="list-header">
		Refugiado/Migrante
	</div>

	<div class="header-filter">
		<mat-form-field>
			<mat-label>Filter</mat-label>
			<input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
		</mat-form-field>

		<div class="div-button">
			<button (click)="this.openNew()" mat-raised-button color="primary">Novo Refugiado/Migrante</button>
		</div>
	</div>


	<div class="mat-elevation-z8">
		<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

			<ng-container matColumnDef="nomeColaborador">
				<th mat-header-cell *matHeaderCellDef> Nome </th>
				<td mat-cell *matCellDef="let element"> {{element.nomeColaborador}} </td>
			</ng-container>

			<ng-container matColumnDef="emailContato">
				<th mat-header-cell *matHeaderCellDef> E-mail de contato </th>
				<td mat-cell *matCellDef="let element"> {{element.emailUsuario}} </td>
			</ng-container>

			<ng-container matColumnDef="nacionalidade">
				<th mat-header-cell *matHeaderCellDef> Nacionalidade </th>
				<td mat-cell *matCellDef="let element"> {{element.nacionalidade}} </td>
			</ng-container>

			<ng-container matColumnDef="dataChegadaBrasil">
				<th mat-header-cell *matHeaderCellDef> Data de chegada ao Brasil </th>
				<td mat-cell *matCellDef="let element"> {{element.dataChegadaBrasil | date: 'dd/MM/yyyy'}} </td>
			</ng-container>

			<ng-container matColumnDef="dataNascimento">
				<th mat-header-cell *matHeaderCellDef> Data de nascimento </th>
				<td mat-cell *matCellDef="let element"> {{element.dataNascimento | date: 'dd/MM/yyyy'}} </td>
			</ng-container>

			<ng-container matColumnDef="entrevistado">
				<th mat-header-cell *matHeaderCellDef> Já foi intrevistado? </th>
				<td mat-cell *matCellDef="let element"> {{element.entrevistado ? 'Sim' : 'Não'}} </td>
			</ng-container>

			<ng-container matColumnDef="dataCriacao">
				<th mat-header-cell *matHeaderCellDef> Data de cadastro </th>
				<td mat-cell *matCellDef="let element"> {{element.dataCriacao | date: 'dd/MM/yyyy'}} </td>
			</ng-container>

			<ng-container matColumnDef="actions">
				<th mat-header-cell *matHeaderCellDef> Ações </th>
				<td mat-cell *matCellDef="let element" class="actions">
					<mat-icon matTooltip="Editar colaborador" [matTooltipShowDelay]="10" [matTooltipHideDelay]="10"
						[matTooltipPosition]="'above'" matTooltipClass="tooltip-edit" (click)="this.openEdit(element)"
						class="color_orange" aria-hidden="false" aria-label="Edit action">edit
					</mat-icon>
					<mat-icon matTooltip="Excluir colaborador" [matTooltipShowDelay]="10" [matTooltipHideDelay]="10"
						[matTooltipPosition]="'above'" matTooltipClass="tooltip-delete" aria-hidden="false"
						class="color_red" aria-label="Delete action"
						(click)="this.openDelete(element)">delete_forever
					</mat-icon>
				</td>
			</ng-container>

			<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
			<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

			<tr class="mat-row" *matNoDataRow>
				<td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
			</tr>
		</table>

		<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
	</div>
</div>
