<div class="center-screen">
	<mat-card class="card">
		<mat-card-title class="card-title">
			Login
			<!-- <mat-icon class="redirect">menu</mat-icon> -->
		</mat-card-title>
		<mat-card-content class="card-content">
			<form class="form container" (ngSubmit)='this.login()'>
				<mat-form-field>
					<mat-label>Email</mat-label>
					<input matInput placeholder="Email" [(ngModel)]="this.email"
						[ngModelOptions]="{ standalone: true }" />
				</mat-form-field>
				<br />
				<mat-form-field>
					<mat-label>Senha</mat-label>
					<input matInput type="password" placeholder="*****" [(ngModel)]="this.senha"
						[ngModelOptions]="{ standalone: true }" />
				</mat-form-field>
				<br />
				<div class="form-actions">
					<div class="box-redirect">
						<span routerLink="/prospeccao"> Cadastrar-se? </span>
						<span> Esqueceu a Senha?</span>
					</div>
					<br />
					<button (click)='this.login()' mat-raised-button class="login-button c-dark-green">
						Entrar
					</button>
				</div>
			</form>
		</mat-card-content>
	</mat-card>
</div>
