<div class="back">
	<section class="box-return">
		<mat-icon routerLink="/login" title="Voltar para o login">arrow_back</mat-icon>
	</section>


	<section class="box-logo">
		<img class="logo" src="../../../assets/logo-white.png" />
	</section>

	<mat-horizontal-stepper linear #stepper>

		<mat-step class="box-content" [stepControl]="typeForm" editable>
			<ng-template matStepLabel>Diga-nos quem é você</ng-template>

			<form [formGroup]="typeForm" class="form-group container">

				<label>Qual o seu tipo de usuário?</label>
				<mat-error *ngIf="typeControls.type.invalid">O tipo deve ser preenchido</mat-error>


				<mat-radio-group (change)="radioChange($event)" class="row combo-user-type" formControlName="type">
					<mat-radio-button value="EMPRESA">
						Sou uma empresa
					</mat-radio-button>
					<mat-radio-button value="COLABORADOR">
						Sou um colaborador
					</mat-radio-button>
				</mat-radio-group>

			</form>

			<div class="box-btn-stepper">
				<button color="primary" class="btn-stepper" mat-raised-button matStepperNext>Próximo</button>
			</div>
		</mat-step>

		<mat-step *ngIf="!this.isEmpresa" [stepControl]="pessoalForm" editable visibl>
			<ng-template matStepLabel>Informações pessoais</ng-template>

			<form [formGroup]="pessoalForm" class="form-group container">

				<mat-form-field class="row col-12" appearance="standard">
					<input matInput class="col-12" formControlName="nomeColaborador" placeholder="Qual o seu nome?"
						name="nome" type="text" />
					<mat-error *ngIf="pessoalControls.nomeColaborador.invalid">O nome deve ser preenchido</mat-error>
				</mat-form-field>
				<br>
				<mat-form-field class="row col-12" appearance="standard">
					<input matInput class="col-12" formControlName="nacionalidade" placeholder="E a sua nacionalidade?"
						name="cep" />
					<mat-error *ngIf="pessoalControls.nacionalidade.invalid">A nacionalidade deve ser preenchida
					</mat-error>

				</mat-form-field>

				<div class="row date-pikers">
					<mat-form-field class="col-6" appearance="standard">
						<mat-label>Quando você nasceu?</mat-label>
						<input formControlName="dataNascimento" matInput [matDatepicker]="picker1">
						<mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
						<mat-datepicker #picker1></mat-datepicker>
						<mat-error *ngIf="pessoalControls.dataNascimento.invalid">
							A data de aniversário deve ser
							preenchida
						</mat-error>

					</mat-form-field>

					<mat-form-field class="col-6" appearance="standard">
						<mat-label>Quando você chegou ao brasil?</mat-label>
						<input formControlName="dataChegadaBrasil" matInput [matDatepicker]="picker2">
						<mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
						<mat-datepicker #picker2></mat-datepicker>
						<mat-error *ngIf="pessoalControls.dataChegadaBrasil.invalid">A data de chegada deve ser
							preenchida
						</mat-error>
					</mat-form-field>
				</div>
			</form>

			<div class="box-btn-stepper">
				<button color="primary" class="btn-stepper" mat-raised-button matStepperPrevious>Voltar</button>

				<button color="primary" class="btn-stepper" mat-raised-button matStepperNext>Próximo</button>
			</div>
		</mat-step>

		<mat-step [stepControl]="terceiroForm" editable>
			<ng-template matStepLabel>Informações profissionais</ng-template>

			<form [formGroup]="terceiroForm" class="form-group container">

				<div class="row">

					<mat-form-field class="col-6" appearance="standard">
						<mat-label>Area de atuação</mat-label>

						<mat-select formArrayName="areasAtuacao" multiple>
							<mat-option value="option1">Option 1</mat-option>
							<mat-option value="option2" disabled>Option 2 (disabled)</mat-option>
							<mat-option value="option3">Option 3</mat-option>
						</mat-select>
					</mat-form-field>

					<mat-form-field class="row col-6" appearance="standard">
						<input matInput class="col-12" formControlName="areaFormacao"
							placeholder="Qual a sua área de formação?" name="areaFormacao" type="text" />
					</mat-form-field>

					<mat-form-field class="col-12" appearance="standard">
						<mat-label>Idiomas falados</mat-label>
						<mat-select formControlName="idiomas" multiple>
							<mat-option value="" disabled>Selecione ...</mat-option>
							<mat-option *ngFor="let idioma of listIdiomas" value="{{idioma.codigoIdioma}}">
								{{idioma.descricaoIdioma}}
							</mat-option>
						</mat-select>
					</mat-form-field>
				</div>

			</form>
			<div class="box-btn-stepper">
				<button color="primary" class="btn-stepper" mat-raised-button matStepperPrevious>Voltar</button>

				<button color="primary" class="btn-stepper" mat-raised-button matStepperNext>Próximo</button>
			</div>
		</mat-step>

		<mat-step [stepControl]="contactForm" [editable]="isEditable">
			<ng-template matStepLabel>Informações de contato</ng-template>

			<form [formGroup]="contactForm" class="form-group container">

				<mat-form-field class="row col-12" appearance="standard">
					<input matInput class="col-12" formControlName="emailUsuario" placeholder="E o seu email?"
						name="emailUsuario" type="text" />

					<mat-error
						*ngIf="contactControls.emailUsuario.invalid && contactControls.emailUsuario.errors?.required ">
						A email deve ser preenchido
					</mat-error>
					<mat-error
						*ngIf="contactControls.emailUsuario.invalid && contactControls.emailUsuario.errors?.pattern ">
						A email deve estar no formato correto
					</mat-error>
				</mat-form-field>
				<br>

				<mat-form-field class="row col-12" appearance="standard">
					<input matInput class="col-12" formControlName="tefoneUsuario" placeholder="Qual o seu telefone?"
						name="telefone" type="text" />
				</mat-form-field>
				<br>

				<mat-form-field class="row col-12" appearance="standard">
					<input class="col-12" matInput placeholder="Qual será sua senha?" formControlName="senhaUsuario"
						name="senhaUsuario" type="password" />

					<mat-error
						*ngIf="contactControls.senhaUsuario.invalid && contactControls.senhaUsuario.errors?.required">
						A senha deve ser preenchida
					</mat-error>
					<mat-error
						*ngIf="contactControls.senhaUsuario.invalid && contactControls.senhaUsuario.errors?.minlength">
						A senha deve ter no mínimo 6 caracteres
					</mat-error>
					<mat-error
						*ngIf="contactControls.senhaUsuario.invalid && contactControls.senhaUsuario.errors?.invalidpassword">
						A senha não deve conter espaços em branco
					</mat-error>
				</mat-form-field>

				<div class="box-btn-stepper">
					<button color="primary" class="btn-stepper" mat-raised-button matStepperPrevious>Voltar</button>
					<button [disabled]="contactControls.senhaUsuario.errors" color="primary"
						class="btn-stepper-no-color" (click)="send()" mat-raised-button
						matStepperNext>Finalizar</button>
				</div>
			</form>
		</mat-step>
	</mat-horizontal-stepper>
</div>
