<section>
	<div class="header  {{ this.actionClass }}">
		<span>{{
			this.isUpdate ? "Editar empresa" : "Cadastrar empresa"
		}}</span>
	</div>
	<mat-dialog-content class="content">
		<form (ngSubmit)="this.send()">
			<label>Razão Social</label>
			<input
				class="col-12"
				class="form-control"
				placeholder="Razão Social"
				[(ngModel)]="this.razaoSocial"
				name="nome"
				type="text"
			/>
			<label>Email</label>
			<input
				class="col-12"
				class="form-control"
				placeholder="Ex.: empresa@email.com"
				[(ngModel)]="this.emailContato"
				name="email"
			/>
			<label>Senha</label>
			<input
				class="col-12"
				class="form-control"
				type="password"
				placeholder="******"
				[(ngModel)]="this.senha"
				name="senha"
				type="password"
			/>
		</form>
	</mat-dialog-content>
	<mat-dialog-actions>
		<button mat-button mat-dialog-close>Cancelar</button>
		<button
			(click)="this.send()"
			mat-raised-button
			class="{{ this.actionClass }}"
			color="primary"
			cdkFocusInitial
		>
			Salvar
		</button>
	</mat-dialog-actions>
</section>
