<section class="filter container col-12  ">
	<mat-card class='col-10'>
		<mat-card-header>
			<mat-card-title class="filter-title">Filtrar colaboradores</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			<form>
				<section class="col-12">
					<mat-form-field appearance="outline" class="col-12">
						<mat-label>Nome do colaborador</mat-label>
						<input matInput [(ngModel)]="this.nomeColaborador" name="nomeColaborador"
							placeholder="Digite o nome que deseja buscar">
						<mat-icon matSuffix>search</mat-icon>
					</mat-form-field>
				</section>
				<section class="filter-forms col-12">
					<mat-form-field class="col-5" appearance="standard">
						<mat-label>Cidade</mat-label>
						<input matInput [(ngModel)]="this.cidade" name="cidade"
							placeholder="Digite a cidade que deseja buscar">
					</mat-form-field>

					<mat-form-field class="col-12" appearance="standard">
						<mat-label>Idiomas falados</mat-label>
						<mat-select formControlName="idiomas" name="idiomas" multiple>
							<mat-option value="" disabled>Selecione ...</mat-option>
							<mat-option *ngFor="let idioma of listIdiomas" value="{{ idioma.codigoIdioma }}">
								{{ idioma.descricaoIdioma }}
							</mat-option>
						</mat-select>
					</mat-form-field>

					<mat-form-field class="col-6" appearance="standard">
						<mat-label>Area de atuação</mat-label>
						<mat-select formControlName="areasTrabalho" name="areasTrabalho" multiple>
							<mat-option value="" disabled>Selecione ...</mat-option>
							<mat-option *ngFor="let area of listAreasTrabalho" value="{{area.codigoAreaTrabalho}}">
								{{area.descricaoAreaTrabalho}}
							</mat-option>
						</mat-select>
					</mat-form-field>

					<div class="col-2 filter-actions">
						<button mat-raised-button (click)="this.populateColaboradores()" color="primary"
							aria-label="Example icon button with a menu icon">
							<mat-icon>search</mat-icon>
							Pesquisar
						</button>
					</div>
				</section>
			</form>
		</mat-card-content>
	</mat-card>
</section>

<section class="container col-10">

	<section class="list col-12">

		<mat-card class='col-3 box-item' *ngFor="let colaborador of this.listColaboradores ">
			<mat-card-header>
				<div mat-card-avatar class="list-avatar"></div>
				<mat-card-title>{{colaborador.nomeColaborador}}</mat-card-title>
			</mat-card-header>
		</mat-card>
	</section>
</section>
